@charset "UTF-8";
/* font-size
------------------------------------------- */
/* ブレークポイント
----------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

figure {
  margin: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

/* base
----------------------------------------- */
body {
  font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 0.15em;
  color: #333;
  background: #F6F4F3;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
a:focus, a:hover {
  opacity: 0.7;
}

button, input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
}

/* header
----------------------------------------- */
.ly_header {
  width: 100%;
  height: 70px;
  padding: 20px 0;
  background: rgba(246, 244, 243, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}

/* main
----------------------------------------- */
.ly_main {
  width: 90%;
  margin: 100px auto 0;
}
.ly_main.is_fixed {
  position: fixed;
}
@media screen and (min-width: 769px) {
  .ly_main {
    width: calc(1200 / 1440 * 100%);
    max-width: 1200px;
  }
}

/* footer
----------------------------------------- */
.ly_footer {
  margin-top: 90px;
  padding: 28px 0;
  text-align: center;
  background: #E1DCD7;
  position: relative;
}

/* header
-------------------------------- */
.bl_header_inner {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.bl_header_logo {
  width: 115px;
}

.bl_header_navBtn {
  width: 50px;
  height: 50px;
  padding: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.bl_header_navBtn span {
  width: 4px;
  height: 4px;
  background: #AD9F9A;
  border-radius: 1px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.bl_header_navBtn span:not(:nth-of-type(3n + 1)) {
  margin-left: 8px;
}
.bl_header_navBtn.is_open span:not(:nth-of-type(n + 4):nth-of-type(-n + 6)) {
  opacity: 0;
}
@media screen and (min-width: 769px) {
  .bl_header_navBtn {
    display: none;
  }
}

.bl_header_openNav {
  width: 100%;
  height: calc(100% - 70px);
  padding-bottom: 80px;
  background: #F6F4F3;
  position: fixed;
  top: 70px;
  right: -100%;
  z-index: 100;
  -webkit-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.bl_header_openNav.is_open {
  right: 0;
}
@media screen and (min-width: 769px) {
  .bl_header_openNav {
    display: none;
  }
}

.bl_header_navInner {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

/* common
----------------------------------------- */
.bl_common_blockWrap {
  width: 100%;
  padding: 40px 24px 45px;
  background: #fff;
  border: 5px solid #E1DCD7;
  border-radius: 20px;
}

/* article
----------------------------------------- */
.bl_article_wrap {
  padding: 40px 20px;
}

.bl_articleCard_contents {
  padding: 20px 8px;
}

.bl_articleCard_title {
  font-size: 1rem;
  margin-top: 10px;
}

.bl_articleCard_meta {
  margin-top: 10px;
  text-align: right;
}

/* pagination
----------------------------------------- */
.bl_pagination_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bl_pagination_item {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 2px solid #AD9F9A;
  border-radius: 999px;
  text-align: center;
}
.bl_pagination_item:not(:first-of-type) {
  margin-left: 8px;
}
.bl_pagination_item a {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  color: #AD9F9A;
}
.bl_pagination_item__active {
  background: #AD9F9A;
}
.bl_pagination_item__active a {
  color: #fff;
}
.bl_pagination_item__prev i {
  padding-top: 8px;
}
.bl_pagination_item__next i {
  padding: 8px 0 0 6px;
}

/* profile
----------------------------------------- */
.bl_profile {
  width: 302px;
  margin: 40px auto 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#E1DCD7), color-stop(10%, #E1DCD7), color-stop(10%, #fff), color-stop(90%, #fff));
  background: linear-gradient(#E1DCD7 0%, #E1DCD7 10%, #fff 10%, #fff 90%);
  position: relative;
}
.bl_profile::before {
  content: "";
  width: 101%;
  height: 30%;
  background: url(../../../img/profile/profile_bg.png) no-repeat center center/contain;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 1201px) {
  .bl_profile {
    margin: 0 auto;
  }
}

.bl_profile_img {
  width: 136px;
  height: 136px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
.bl_profile_img img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bl_profile_contents {
  margin-top: 8px;
}

.bl_profile_name {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.bl_profile_text {
  margin-top: 15px;
}

.bl_profile_link {
  margin-top: 20px;
  text-align: center;
}

.bl_btn_profileLink {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.18em;
  color: #fff;
}

.bl_profile_snsList {
  width: 85%;
  margin: 25px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bl_btn_profileSns i {
  font-size: 20px;
  color: #fff;
}

/* search
----------------------------------------- */
.bl_search_searchDate {
  border-bottom: 3px solid #AD9F9A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bl_search_searchWindow {
  width: 80%;
  height: 40px;
}

.bl_search_searchSubmit {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: relative;
}
.bl_search_searchSubmit::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #AD9F9A;
  position: absolute;
  top: 0;
  left: 0;
}
.bl_search_searchSubmit::after {
  content: "";
  width: 10px;
  height: 2px;
  background: #AD9F9A;
  position: absolute;
  top: 18px;
  right: 10px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.bl_search_tag {
  margin-top: 30px;
}

.bl_search_tagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -8px;
}

.bl_search_tagItem {
  margin: 0 4px 8px;
}

/* category
----------------------------------------- */
.bl_category_title {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.18em;
  color: #AD9F9A;
  font-size: 1.25rem;
  text-align: center;
}

.bl_category_list {
  margin-top: 20px;
}
.bl_category_list > * + * {
  margin-top: 10px;
}
.bl_category_list__child {
  margin-left: 30px;
}

.bl_category_item__child {
  padding-left: 28px;
  line-height: 2;
  position: relative;
}
.bl_category_item__child::before {
  content: "";
  width: 20px;
  height: 2px;
  background: #AD9F9A;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bl_category_item__child::after {
  content: "";
  width: 2px;
  height: 100%;
  background: #AD9F9A;
  position: absolute;
  top: 0;
  left: 0;
}
.bl_category_item__child:first-of-type {
  margin-top: 5px;
}
.bl_category_item__child:last-of-type::after {
  height: 50%;
}

/* flex
----------------------------------------- */
@media screen and (min-width: 1201px) {
  .bl_2colUnit__main, .bl_2colUnit__archive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bl_2colUnit__main .bl_2colUnit_rightItem__main, .bl_2colUnit__archive .bl_2colUnit_rightItem__main {
    width: 278px;
    margin-left: 32px;
  }
}
.bl_2colUnit__archive {
  margin-top: 35px;
}
.bl_2colUnit__card .bl_2colUnit_item__card {
  margin-bottom: 20px;
}
@media screen and (min-width: 577px) {
  .bl_2colUnit__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bl_2colUnit__card .bl_2colUnit_item__card {
    width: calc(100% / 2 - 40px * 1 / 2);
  }
  .bl_2colUnit__card .bl_2colUnit_item__card:not(:nth-of-type(2n + 1)) {
    margin-left: 40px;
  }
}
@media screen and (min-width: 769px) {
  .bl_2colUnit__widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bl_2colUnit__widget .bl_2colUnit_leftItem__widget {
    width: 65%;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1201px) {
  .bl_2colUnit__widget {
    display: block;
  }
  .bl_2colUnit__widget .bl_2colUnit_leftItem__widget {
    width: 302px;
    margin: 0;
  }
}

/* tag
----------------------------------------- */
.el_tag {
  display: inline-block;
  background: #CABFB9;
  padding: 0.333em 1em;
  border-radius: 50px;
  font-size: 0.625rem;
  color: #fff;
}

/* btn
----------------------------------------- */
.el_btn {
  display: inline-block;
  padding: 0.714em 1.714em;
  background: #CABFB9;
  border: 2px solid #CABFB9;
  border-radius: 10px;
}

.el_btn__sns {
  padding: 0.8em;
}

/* copy
----------------------------------------- */
.el_copy {
  color: #fff;
  font-size: 20;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.18em;
}

/* toTop
----------------------------------- */
.el_toTop {
  width: 70px;
  height: 70px;
  background: #AD9F9A;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  right: 6%;
}
.el_toTop i {
  color: #E1DCD7;
  font-size: 2.5rem;
  padding: 12px 0 0 2px;
}

/* title
----------------------------------------- */
.el_title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 577px) {
  .el_title_wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 10px;
  }
}

.el_title__mainTitle {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.15em;
}
@media screen and (min-width: 577px) {
  .el_title__mainTitle {
    font-size: 1.25rem;
  }
}

.el_title__contentsTitle {
  padding-left: 40px;
  margin-left: 20px;
  line-height: 2em;
  position: relative;
}
.el_title__contentsTitle::before {
  content: "";
  width: 20px;
  height: 3px;
  background: #E1DCD7;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 577px) {
  .el_title__contentsTitle {
    font-size: 1rem;
  }
}

/* mt
----------------------------------------- */
.hp_mt40 {
  margin-top: 40px;
}

.hp_mt50 {
  margin-top: 50px;
}

/* display
----------------------------------------- */
.hp_display__widget {
  display: none;
}
@media screen and (min-width: 769px) {
  .hp_display__widget {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */