@charset "UTF-8";
/* font-size
------------------------------------------- */
/* ブレークポイント
----------------------------------------- */
/* reset
----------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

figure {
  margin: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, select, textarea {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

::before, ::after {
  margin: 0px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border-style: none;
  border: none;
}

/* base
----------------------------------------- */
body {
  font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 0.15em;
  color: #333;
  background: #F6F4F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
body.is_fixed {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

/* header
----------------------------------------- */
.ly_header {
  width: 100%;
  height: 50px;
  padding: 15px 0;
  background: rgba(246, 244, 243, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}
@media screen and (min-width: 577px) {
  .ly_header {
    height: 70px;
    padding: 20px 0;
  }
}

/* main
----------------------------------------- */
.ly_main {
  width: 90%;
  margin: 80px auto 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.ly_main.is_fixed {
  position: fixed;
}
@media screen and (min-width: 577px) {
  .ly_main {
    margin: 120px auto 0;
  }
  .ly_main__single {
    margin: 100px auto 0;
  }
}
@media screen and (min-width: 769px) {
  .ly_main {
    width: calc(1200 / 1440 * 100%);
    max-width: 1200px;
  }
}

/* footer
----------------------------------------- */
.ly_footer {
  margin-top: 90px;
  padding: 28px 0;
  text-align: center;
  background: #E1DCD7;
  position: relative;
}
.ly_footer.is_fixed {
  position: fixed;
  top: 100px;
}

/* header
-------------------------------- */
.bl_header_inner {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.bl_header_logo {
  width: 100px;
}
@media screen and (min-width: 577px) {
  .bl_header_logo {
    width: 160px;
  }
}

.bl_header_navBtn {
  width: 50px;
  height: 50px;
  padding: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.bl_header_navBtn span {
  width: 4px;
  height: 4px;
  background: #AD9F9A;
  border-radius: 1px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.bl_header_navBtn span:not(:nth-of-type(3n + 1)) {
  margin-left: 8px;
}
.bl_header_navBtn.is_open span:not(:nth-of-type(n + 4):nth-of-type(-n + 6)) {
  opacity: 0;
}
@media screen and (min-width: 769px) {
  .bl_header_navBtn {
    display: none;
  }
}

.bl_header_openNav {
  width: 100%;
  height: calc(100% - 50px);
  padding-bottom: 80px;
  background: #F6F4F3;
  position: fixed;
  top: 50px;
  right: -100%;
  z-index: 100;
  -webkit-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.bl_header_openNav.is_open {
  right: 0;
}
@media screen and (min-width: 577px) {
  .bl_header_openNav {
    height: calc(100% - 70px);
    top: 70px;
  }
}
@media screen and (min-width: 769px) {
  .bl_header_openNav {
    display: none;
  }
}

.bl_header_navInner {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.bl_header_navLink {
  text-align: center;
}

/* common
----------------------------------------- */
.bl_common_blockWrap {
  width: 100%;
  padding: 40px 24px 45px;
  background: #fff;
  border: 5px solid #E1DCD7;
  border-radius: 20px;
}

/* article
----------------------------------------- */
.bl_article_wrap {
  width: 100%;
}
@media screen and (min-width: 1201px) {
  .bl_article_wrap {
    width: calc(100% - 302px);
  }
}

.bl_article {
  padding: 40px 5%;
}

.bl_articleCard a {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.bl_articleCard a:focus, .bl_articleCard a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.bl_articleCard_contents {
  padding: 20px 8px;
}
.bl_articleCard_contents__related {
  padding: 10px 8px;
}

.bl_articleCard_tagWrap {
  margin: -5px 0 0 -5px;
}

.bl_articleCard_tag {
  margin: 5px 0 0 5px;
}

.bl_articleCard_title {
  font-size: 1rem;
  margin-top: 10px;
}
@media screen and (min-width: 769px) {
  .bl_articleCard_title__related {
    font-size: 1rem;
  }
}

.bl_articleCard_meta {
  margin-top: 10px;
  text-align: right;
}

.bl_articleCard_time__related {
  font-size: 0.625rem;
}
@media screen and (min-width: 769px) {
  .bl_articleCard_time__related {
    font-size: 0.75rem;
  }
}

/* aside
----------------------------------------- */
.bl_aside_wrap {
  width: 100%;
}
@media screen and (min-width: 1201px) {
  .bl_aside_wrap {
    width: 302px;
    margin-left: 32px;
  }
}

/* pagination
----------------------------------------- */
.bl_pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bl_pagination li {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 2px solid #AD9F9A;
  border-radius: 50%;
  text-align: center;
}
.bl_pagination li:not(:first-of-type) {
  margin-left: 8px;
}
.bl_pagination li a {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  color: #AD9F9A;
  position: relative;
  z-index: 0;
}
.bl_pagination li a::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #AD9F9A;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.bl_pagination li a:focus, .bl_pagination li a:hover {
  color: #fff;
}
.bl_pagination li a:focus::after, .bl_pagination li a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.bl_pagination li span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #AD9F9A;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
}
.bl_pagination li .prev i {
  padding-top: 8px;
}
.bl_pagination li .next i {
  padding: 8px 0 0 6px;
}

/* widget category
----------------------------------------- */
@media screen and (min-width: 769px) {
  .bl_category {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1201px) {
  .bl_category {
    margin-left: 0;
  }
}

.bl_category_list {
  margin-top: 20px;
}
.bl_category_list > * + * {
  margin-top: 10px;
}
.bl_category_list__child {
  margin-left: 30px;
}

.bl_category_item__child {
  padding-left: 20px;
  line-height: 2;
  position: relative;
}
.bl_category_item__child::before {
  content: "";
  width: 13px;
  height: 2px;
  background: #AD9F9A;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bl_category_item__child::after {
  content: "";
  width: 2px;
  height: 100%;
  background: #AD9F9A;
  position: absolute;
  top: 0;
  left: 0;
}
.bl_category_item__child:first-of-type {
  margin-top: 5px;
}
.bl_category_item__child:last-of-type::after {
  height: 50%;
}

/* widget profile
----------------------------------------- */
.bl_profile {
  width: 100%;
  max-width: 302px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E1DCD7), color-stop(10%, #E1DCD7), color-stop(10%, #fff), color-stop(90%, #fff));
  background: linear-gradient(#E1DCD7 0%, #E1DCD7 10%, #fff 10%, #fff 90%);
  margin: 30px auto 0;
  position: relative;
}
.bl_profile::before {
  content: "";
  width: 101%;
  height: 30%;
  background: url(../img/profile/profile_bg.png) no-repeat center center/contain;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 577px) {
  .bl_profile {
    max-width: 640px;
    height: 260px;
    background: -webkit-gradient(linear, left top, right top, from(#E1DCD7), color-stop(10%, #E1DCD7), color-stop(10%, #fff), color-stop(90%, #fff));
    background: linear-gradient(to right, #E1DCD7 0%, #E1DCD7 10%, #fff 10%, #fff 90%);
  }
  .bl_profile::before {
    width: 260px;
    height: 100%;
    top: 0;
    left: -40px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@media screen and (min-width: 1201px) {
  .bl_profile {
    max-width: 302px;
    height: auto;
    margin: 0 auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DCD7), color-stop(10%, #E1DCD7), color-stop(10%, #fff), color-stop(90%, #fff));
    background: linear-gradient(#E1DCD7 0%, #E1DCD7 10%, #fff 10%, #fff 90%);
  }
  .bl_profile::before {
    width: 101%;
    height: 30%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.bl_profile_img {
  width: 136px;
  height: 136px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
.bl_profile_img img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bl_profile_contents {
  margin-top: 8px;
}

.bl_profile_name {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.bl_profile_text {
  margin-top: 15px;
}

.bl_profile_link {
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 577px) {
  .bl_profile_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1201px) {
  .bl_profile_link {
    display: block;
  }
}

.bl_profile_snsList {
  width: 58%;
  margin: 25px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 577px) {
  .bl_profile_snsList {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 0 0 20px;
  }
}
@media screen and (min-width: 1201px) {
  .bl_profile_snsList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 25px auto 0;
  }
}

.bl_profile_snsItem:not(:first-of-type) {
  margin-left: 20px;
}

/* widget search
----------------------------------------- */
.bl_search_searchDate {
  border-bottom: 3px solid #AD9F9A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bl_search_searchWindow {
  width: 80%;
  height: 40px;
}

.bl_search_searchSubmit {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.bl_search_searchSubmit::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #AD9F9A;
  position: absolute;
  top: 8px;
  left: 3px;
}
.bl_search_searchSubmit::after {
  content: "";
  width: 10px;
  height: 2px;
  background: #AD9F9A;
  position: absolute;
  top: 22px;
  right: 10px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.bl_search_tag {
  margin-top: 30px;
}

.bl_search_tagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px 0 0 -8px;
}

.bl_search_tagItem {
  margin: 8px 0 0 8px;
}

/* widget common
----------------------------------------- */
.bl_widget_title {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.18em;
  color: #AD9F9A;
  font-size: 1.25rem;
  text-align: center;
}

.bl_category_list, .bl_toc_item {
  margin-top: 20px;
}
.bl_category_list > * + *, .bl_toc_item > * + * {
  margin-top: 10px;
}
.bl_category_list__child, .bl_toc_item__child {
  margin-left: 30px;
}
.bl_category_list a, .bl_toc_item a {
  position: relative;
  z-index: 0;
}
.bl_category_list a::before, .bl_toc_item a::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #E1DCD7;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.bl_category_list a:focus::before, .bl_category_list a:hover::before, .bl_toc_item a:focus::before, .bl_toc_item a:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/* flex
----------------------------------------- */
@media screen and (min-width: 1201px) {
  .bl_2colUnit__main, .bl_2colUnit__archive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.bl_2colUnit__archive {
  margin-top: 35px;
}
.bl_2colUnit__card .bl_2colUnit_item__card {
  margin-bottom: 20px;
}
@media screen and (min-width: 577px) {
  .bl_2colUnit__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bl_2colUnit__card .bl_2colUnit_item__card {
    width: calc(100% / 2 - 40px * 1 / 2);
  }
  .bl_2colUnit__card .bl_2colUnit_item__card:not(:nth-of-type(2n + 1)) {
    margin-left: 40px;
  }
}
@media screen and (min-width: 769px) {
  .bl_2colUnit__widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1201px) {
  .bl_2colUnit__widget {
    display: block;
  }
}
@media screen and (min-width: 577px) {
  .bl_2colUnit__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bl_2colUnit__profile .bl_2colUnit_rightItem__profile {
    width: calc(100% - 156px);
    margin-left: 20px;
  }
}
@media screen and (min-width: 1201px) {
  .bl_2colUnit__profile {
    display: block;
  }
  .bl_2colUnit__profile .bl_2colUnit_rightItem__profile {
    width: 100%;
    margin-left: 0;
  }
}

.bl_3colUnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -10px;
}
.bl_3colUnit .bl_3colUnit_item__card {
  width: calc(100% / 2 - 10px * 1 / 2);
  margin-bottom: 10px;
}
.bl_3colUnit .bl_3colUnit_item__card:not(:nth-of-type(2n + 1)) {
  margin-left: 10px;
}
@media screen and (min-width: 769px) {
  .bl_3colUnit .bl_3colUnit_item__card {
    width: calc(100% / 3 - 10px * 2 / 3);
  }
  .bl_3colUnit .bl_3colUnit_item__card:not(:nth-of-type(2n + 1)) {
    margin-left: 0;
  }
  .bl_3colUnit .bl_3colUnit_item__card:not(:nth-of-type(3n + 1)) {
    margin-left: 10px;
  }
}

/* share
----------------------------------------- */
.bl_share {
  text-align: center;
  margin-top: 20px;
}

.bl_share_title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 20px;
  position: relative;
}
.bl_share_title::before, .bl_share_title::after {
  content: "";
  width: 1px;
  height: 50%;
  background: #CABFB9;
  position: absolute;
  top: 50%;
}
.bl_share_title::before {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(-30deg);
          transform: translateY(-50%) rotate(-30deg);
}
.bl_share_title::after {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(30deg);
          transform: translateY(-50%) rotate(30deg);
}
@media screen and (min-width: 577px) {
  .bl_share_title {
    font-size: 1.125rem;
  }
}

.bl_share_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.bl_share_item {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.bl_share_item:not(:first-of-type) {
  margin-left: 18px;
}
@media screen and (min-width: 577px) {
  .bl_share_item:not(:first-of-type) {
    margin-left: 30px;
  }
}
.bl_share_item i {
  font-size: 1.875rem;
}
@media screen and (min-width: 577px) {
  .bl_share_item i {
    font-size: 2.5rem;
  }
}
.bl_share_item:focus, .bl_share_item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.bl_share_item__copy {
  position: relative;
}
.bl_share_item__copy::before {
  content: "URLcopied!";
  font-size: 0.625rem;
  color: #fff;
  background: #AD9F9A;
  border-radius: 10px;
  padding: 0.1em 1em;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.bl_share_item__copy.is_copied::before {
  opacity: 1;
}

.bl_share_twitter {
  color: #1DA1F2;
}
.bl_share_facebook {
  color: #1877f2;
}
.bl_share_line {
  color: #00B900;
}
.bl_share_copy {
  font-size: 1.5625rem !important;
  color: rgba(51, 51, 51, 0.5);
}
@media screen and (min-width: 577px) {
  .bl_share_copy {
    font-size: 2.1875rem !important;
  }
}

/* breadcrumb
----------------------------------------- */
.bl_breadcrumb_item {
  display: inline;
  font-size: 0.625rem;
}
.bl_breadcrumb_item__home {
  padding-left: 15px;
  position: relative;
}
.bl_breadcrumb_item__home::before {
  content: "";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bl_breadcrumb_item:not(:first-of-type) {
  padding-left: 11px;
  position: relative;
}
.bl_breadcrumb_item:not(:first-of-type)::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  position: absolute;
  top: 50%;
  left: 2px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.bl_breadcrumb_item a {
  display: inline;
  font-size: 0.625rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.bl_breadcrumb_item a:focus, .bl_breadcrumb_item a:hover {
  opacity: 0.5;
}

/* privacy policy
----------------------------------------- */
@media screen and (min-width: 577px) {
  .bl_privacy {
    padding: 40px 50px 45px;
  }
}
.bl_privacy__form {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background: #fff;
  border: 1.5px solid #AD9F9A;
  border-radius: 10px;
  padding: 20px 30px;
  overflow-y: scroll;
}
@media screen and (min-width: 769px) {
  .bl_privacy__form {
    width: 80%;
  }
}

.bl_privacy_titleWrap {
  text-align: center;
}

.bl_privacy_title {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 600;
  color: #AD9F9A;
  line-height: 1.5;
}
.bl_privacy_title__ruby {
  font-size: 0.75rem;
  font-weight: 600;
}
.bl_privacy_title__form {
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
  line-height: 3;
}

.bl_privacy_sectionTitle {
  font-weight: 600;
}
.bl_privacy_sectionTitle__form {
  font-weight: 600;
  margin-top: 20px;
}

.bl_privacy_text span {
  display: inline-block;
  width: 16px;
}

.bl_privacy_list__child, .bl_privacy_list__form {
  list-style: disc outside;
}

.bl_privacy_item:not(:first-of-type) {
  margin-top: 30px;
}
.bl_privacy_item__child, .bl_privacy_item__form {
  margin-left: 20px;
}

.bl_privacy_link {
  text-align: center;
}

/* footer
----------------------------------------- */
.bl_footer_copyWrap {
  margin-top: 10px;
}

/* tag
----------------------------------------- */
.el_tag {
  display: inline-block;
  background: #CABFB9;
  padding: 0.333em 1em;
  border-radius: 50px;
  font-size: 0.625rem;
  color: #fff;
}
.el_tag__link {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.el_tag__link:focus, .el_tag__link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.el_tag__entry {
  display: inline-block;
  font-size: 0.625rem;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.el_tag__entry:focus, .el_tag__entry:hover {
  opacity: 0.5;
}

/* btn
----------------------------------------- */
.el_btn {
  display: inline-block;
  padding: 0.714em 1.714em;
  background: #CABFB9;
  border: 2px solid #CABFB9;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.el_btn__profileLink {
  padding: 0;
  width: 150px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.18em;
  font-weight: 600;
  height: 50px;
  line-height: 46px;
}
.el_btn__sns {
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
}
.el_btn__sns i {
  font-size: 20px;
  line-height: 46px;
}
.el_btn__profileLink, .el_btn__sns {
  position: relative;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.el_btn__profileLink::before, .el_btn__sns::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.el_btn__profileLink:focus, .el_btn__profileLink:hover, .el_btn__sns:focus, .el_btn__sns:hover {
  color: #CABFB9;
}
.el_btn__profileLink:focus::before, .el_btn__profileLink:hover::before, .el_btn__sns:focus::before, .el_btn__sns:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.el_btn__submit {
  width: 100%;
  max-width: 350px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.el_btn__submit.is_disabled {
  background: #fff;
  color: #AD9F9A;
  cursor: auto;
}

.el_btn_icon {
  padding-left: 2.7em;
  font-size: 1.25rem;
  font-weight: 600;
  position: relative;
}
.el_btn_icon::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.el_btn_icon__home {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.el_btn_icon__home::before {
  content: "";
}
.el_btn_icon__home:focus, .el_btn_icon__home:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.el_btn_icon__headerNav {
  text-transform: uppercase;
  letter-spacing: 0.18em;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.el_btn_icon__headerNav::before {
  content: "";
}
.el_btn_icon__headerNav::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.el_btn_icon__headerNav:focus, .el_btn_icon__headerNav:hover {
  color: #CABFB9;
}
.el_btn_icon__headerNav:focus::after, .el_btn_icon__headerNav:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.el_btn_toc {
  opacity: 0;
  visibility: hidden;
  width: 65px;
  padding: 0.3em 0;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  right: 4%;
  top: 60px;
  z-index: 300;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease, visibility 0.3s ease;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease-in-out;
}
.el_btn_toc span {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.el_btn_toc__open {
  font-size: 0.75rem;
  font-weight: 600;
}
.el_btn_toc__close {
  display: none;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: relative;
}
.el_btn_toc__close::before, .el_btn_toc__close::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}
.el_btn_toc__close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.el_btn_toc__close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.el_btn_toc.is_display {
  opacity: 1;
  visibility: visible;
}
.el_btn_toc.is_open .el_btn_toc__open {
  display: none;
}
.el_btn_toc.is_open .el_btn_toc__close {
  -webkit-animation: tocClose 0.3s linear;
          animation: tocClose 0.3s linear;
  display: inline-block;
}
.el_btn_toc:focus, .el_btn_toc:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
@media screen and (min-width: 577px) {
  .el_btn_toc {
    top: 80px;
  }
}
@media screen and (min-width: 1201px) {
  .el_btn_toc {
    display: none;
  }
}

@-webkit-keyframes tocClose {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes tocClose {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.el_btn_footerNav {
  display: inline-block;
  padding: 0.3em 1em;
  font-size: 0.625rem;
  color: #fff;
  background: #CABFB9;
  border: 2px solid #CABFB9;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.el_btn_footerNav:focus, .el_btn_footerNav:hover {
  opacity: 0.7;
}

/* copy
----------------------------------------- */
.el_copy {
  color: #fff;
  font-size: 0.75rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.18em;
}

/* toTop
----------------------------------- */
.el_toTop {
  width: 70px;
  height: 70px;
  background: #AD9F9A;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  right: 6%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.el_toTop i {
  color: #E1DCD7;
  font-size: 2.5rem;
  padding: 12px 0 0 2px;
  -webkit-animation: toTop 1.5s ease-in-out infinite;
          animation: toTop 1.5s ease-in-out infinite;
}
.el_toTop:focus, .el_toTop:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes toTop {
  0% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  40% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

@keyframes toTop {
  0% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  40% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}
/* title
----------------------------------------- */
.el_title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 577px) {
  .el_title_wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 10px;
  }
}

.el_title__mainTitle {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.15em;
}
@media screen and (min-width: 577px) {
  .el_title__mainTitle {
    font-size: 1.25rem;
  }
}

.el_title__contentsTitle {
  padding-left: 40px;
  margin-left: 20px;
  line-height: 2em;
  position: relative;
}
.el_title__contentsTitle::before {
  content: "";
  width: 20px;
  height: 3px;
  background: #E1DCD7;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 577px) {
  .el_title__contentsTitle {
    font-size: 1rem;
  }
}

/* link
----------------------------------------- */
.el_textLink {
  color: #AD9F9A;
  font-weight: 500;
  padding: 0 5px;
  position: relative;
}
.el_textLink::after {
  content: "";
  width: 100%;
  height: 1.5px;
  background: #AD9F9A;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.el_textLink:focus::after, .el_textLink:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* category
----------------------------------------- */
.el_category {
  display: inline-block;
  font-size: 0.625rem;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.el_category:focus, .el_category:hover {
  opacity: 0.5;
}

/* error
----------------------------------------- */
.bl_error_wrap {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.bl_error_title {
  color: #AD9F9A;
  padding-top: 140px;
  font-size: 1.875rem;
  font-weight: 600;
  position: relative;
  z-index: 0;
}
.bl_error_title span {
  font-size: 8.75rem;
  font-weight: 600;
  color: #E1DCD7;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.bl_error_text {
  margin-top: 50px;
}

.bl_error_link {
  margin-top: 80px;
}

/* contactMessage
----------------------------------------- */
.bl_contactMessage_works {
  max-width: 540px;
  margin: 0 auto;
}

.bl_contactMessage_title {
  text-align: center;
  max-width: 385px;
  margin: 0 auto;
}
.bl_contactMessage_title span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0%, #E1DCD7));
  background: linear-gradient(transparent 60%, #E1DCD7 0%);
  font-size: clamp(12px, 4.26vw, 18px);
  font-weight: 600;
  padding: 0 10px 2px;
}

.bl_worksTemp_wrap {
  margin-top: 20px;
}

.bl_worksTemp_list {
  padding-left: 24px;
}

.bl_worksTemp_item {
  list-style-type: decimal;
  list-style-position: outside;
}

.bl_contactMessage_schedule summary {
  display: block;
  width: 100%;
  max-width: 275px;
  margin: 0 auto;
  list-style: none;
  cursor: pointer;
  position: relative;
}
.bl_contactMessage_schedule summary::after {
  content: "";
  width: 10px;
  height: 10px;
  border-right: 1.8px solid #fff;
  border-bottom: 1.8px solid #fff;
  position: absolute;
  top: 30%;
  right: 1.714em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.bl_contactMessage_schedule summary:hover, .bl_contactMessage_schedule summary details[open] summary {
  opacity: 0.8;
}
.bl_contactMessage_schedule summary::-webkit-details-marker {
  display: none;
}

.bl_contactMessage_schedule_wrap {
  margin-top: 20px;
  padding-top: 90%;
  position: relative;
}
.bl_contactMessage_schedule_wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 577px) {
  .bl_contactMessage_schedule_wrap {
    padding-top: 45%;
  }
}

details[open] summary::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 40%;
}

details[open] .bl_contactMessage_schedule_wrap {
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* contactForm
----------------------------------------- */
.bl_formWrap {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
}
.bl_formWrap::before {
  content: "";
  width: 2px;
  height: 30px;
  background: #E1DCD7;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 577px) {
  .bl_formWrap {
    width: 95%;
  }
}
@media screen and (min-width: 1201px) {
  .bl_formWrap {
    width: 80%;
  }
}

@media screen and (min-width: 769px) {
  .bl_form_flexWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.bl_form_flexWrap__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 577px) {
  .bl_form_flexWrap__radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 769px) {
  .bl_form_flexWrap__radio {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.bl_form_item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bl_form_item:not(:first-of-type) {
  margin-top: 30px;
}

.bl_form_label {
  display: inline-block;
}
.bl_form_label label {
  font-weight: 500;
  font-size: 1rem;
}
.bl_form_label__must {
  position: relative;
  padding-right: 60px;
}
.bl_form_label__must::after {
  content: "必須";
  font-size: 0.625rem;
  padding: 0.3em 1em;
  background: #AD9F9A;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 769px) {
  .bl_form_label__position {
    -webkit-transform: translateY(-11px);
            transform: translateY(-11px);
  }
}
@media screen and (min-width: 769px) {
  .bl_form_label__positionTextarea {
    -webkit-transform: translateY(-125px);
            transform: translateY(-125px);
  }
}

.bl_form_input, .bl_form_select, .bl_form_text {
  width: 100%;
  margin-top: 10px;
}
.bl_form_input input[type=text], .bl_form_input input[type=email], .bl_form_input textarea, .bl_form_select input[type=text], .bl_form_select input[type=email], .bl_form_select textarea, .bl_form_text input[type=text], .bl_form_text input[type=email], .bl_form_text textarea {
  width: 100%;
  background: #fff;
  border: 1.5px solid #AD9F9A;
  border-radius: 10px;
  padding: 8px 10px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.bl_form_input input[type=text]:focus, .bl_form_input input[type=text]:hover, .bl_form_input input[type=email]:focus, .bl_form_input input[type=email]:hover, .bl_form_input textarea:focus, .bl_form_input textarea:hover, .bl_form_select input[type=text]:focus, .bl_form_select input[type=text]:hover, .bl_form_select input[type=email]:focus, .bl_form_select input[type=email]:hover, .bl_form_select textarea:focus, .bl_form_select textarea:hover, .bl_form_text input[type=text]:focus, .bl_form_text input[type=text]:hover, .bl_form_text input[type=email]:focus, .bl_form_text input[type=email]:hover, .bl_form_text textarea:focus, .bl_form_text textarea:hover {
  -webkit-box-shadow: 0px 0px 5px 0px #AD9F9A;
          box-shadow: 0px 0px 5px 0px #AD9F9A;
}
@media screen and (min-width: 769px) {
  .bl_form_input, .bl_form_select, .bl_form_text {
    width: 65%;
    margin-top: 0;
  }
}
.bl_form_input__name, .bl_form_select__name, .bl_form_text__name {
  width: 47%;
}
@media screen and (min-width: 769px) {
  .bl_form_input__name, .bl_form_select__name, .bl_form_text__name {
    width: 45%;
  }
}
.bl_form_input textarea, .bl_form_select textarea, .bl_form_text textarea {
  height: 150px;
  resize: vertical;
}
@media screen and (min-width: 769px) {
  .bl_form_input textarea, .bl_form_select textarea, .bl_form_text textarea {
    height: 300px;
  }
}

.bl_form_ex {
  margin-top: 8px;
  padding-left: 5px;
  font-size: 0.75rem;
  opacity: 0.8;
}
@media screen and (min-width: 769px) {
  .bl_form_ex {
    padding-left: 20px;
  }
}

.bl_form_selectItem {
  position: relative;
  padding-left: 35px;
}
.bl_form_selectItem:not(:first-of-type) {
  margin-top: 10px;
}
@media screen and (min-width: 577px) {
  .bl_form_selectItem:not(:first-of-type) {
    margin-top: 0;
    margin-left: 30px;
  }
}
@media screen and (min-width: 769px) {
  .bl_form_selectItem:not(:first-of-type) {
    margin-left: 0;
  }
}

.bl_form_selectLabel input[type=radio] {
  width: 25px;
  height: 25px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
.bl_form_selectLabel input[type=radio]:checked + .bl_form_selectParts::after {
  opacity: 1;
}
.bl_form_selectLabel input[type=radio]:focus + .bl_form_selectParts::before {
  -webkit-box-shadow: 0px 0px 5px 0px #AD9F9A;
          box-shadow: 0px 0px 5px 0px #AD9F9A;
}

.bl_form_selectParts::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1.5px solid #AD9F9A;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.bl_form_selectParts::after {
  content: "";
  width: 14px;
  height: 14px;
  background: #AD9F9A;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  opacity: 0;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.bl_form_selectParts:hover::before {
  -webkit-box-shadow: 0px 0px 5px 0px #AD9F9A;
          box-shadow: 0px 0px 5px 0px #AD9F9A;
}

.bl_form_check {
  text-align: center;
}

.bl_form_checkLabel {
  padding-left: 35px;
  font-weight: 500;
  position: relative;
}
.bl_form_checkLabel input[type=checkbox] {
  width: 25px;
  height: 25px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
.bl_form_checkLabel input[type=checkbox]:checked + .bl_form_checkParts::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}
.bl_form_checkLabel input[type=checkbox]:focus + .bl_form_checkParts::before {
  -webkit-box-shadow: 0px 0px 5px 0px #AD9F9A;
          box-shadow: 0px 0px 5px 0px #AD9F9A;
}
@media screen and (min-width: 769px) {
  .bl_form_checkLabel {
    font-size: 1rem;
  }
}

.bl_form_checkParts::before {
  content: "";
  width: 25px;
  height: 25px;
  border: 1.5px solid #AD9F9A;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bl_form_checkParts::after {
  content: "";
  width: 18px;
  height: 8px;
  border-bottom: 1.5px solid #AD9F9A;
  border-left: 1.5px solid #AD9F9A;
  position: absolute;
  top: 13px;
  left: 4px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media screen and (min-width: 577px) {
  .bl_form_checkParts::after {
    top: 4px;
  }
}

.bl_form_submitWrap {
  text-align: center;
}

.bl_form_sendMessage {
  max-width: 720px;
  margin: 0 auto;
  display: none;
}

.bl_form_sendTitle {
  font-size: 1.125rem;
  font-weight: 600;
}

.bl_form_sendText:not(:first-of-type) {
  margin-top: 10px;
}

.bl_form_topLink {
  text-align: center;
}

/* entry
----------------------------------------- */
.bl_entry_wrap {
  width: 100%;
}
@media screen and (min-width: 1201px) {
  .bl_entry_wrap {
    width: calc(100% - 302px);
  }
}

.bl_entry {
  padding: 40px 10px 45px;
}
@media screen and (min-width: 577px) {
  .bl_entry {
    padding: 40px 5% 80px;
  }
}

.bl_entry_title {
  font-size: 1.25rem;
  font-weight: 600;
}

.bl_entry_metaWrap, .bl_entry_img {
  margin-top: 10px;
}

.bl_entry_time {
  font-size: 0.75rem;
  padding-left: 18px;
  position: relative;
}
.bl_entry_time:nth-of-type(2) {
  margin-left: 10px;
}
.bl_entry_time::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.75rem;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bl_entry_time__published::before {
  content: "";
}
.bl_entry_time__updated::before {
  content: "";
}

.bl_entry_thumbnails {
  margin-top: 10px;
  width: 100%;
}

.bl_entry_body {
  margin-top: 10px;
  width: 100%;
  overflow-wrap: break-word;
}
.bl_entry_body > p, .bl_entry_body figure, .bl_entry_body ul, .bl_entry_body ol, .bl_entry_body .code-toolbar {
  margin-top: 10px;
}
.bl_entry_body > p ul, .bl_entry_body > p ol, .bl_entry_body figure ul, .bl_entry_body figure ol, .bl_entry_body ul ul, .bl_entry_body ul ol, .bl_entry_body ol ul, .bl_entry_body ol ol, .bl_entry_body .code-toolbar ul, .bl_entry_body .code-toolbar ol {
  margin-top: 0;
}
.bl_entry_body > h2, .bl_entry_body h3 {
  margin-top: 30px;
}
.bl_entry_body h2 {
  padding-left: 8px;
  background: #F6F4F3;
  border-bottom: 2px solid #CABFB9;
}
.bl_entry_body h2 span {
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
}
.bl_entry_body h3 {
  padding-left: 10px;
  position: relative;
}
.bl_entry_body h3 span {
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
}
.bl_entry_body h3::before {
  content: "";
  width: 3px;
  height: 100%;
  background: #AD9F9A;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bl_entry_body p a {
  padding: 0 5px;
  position: relative;
  z-index: 0;
}
.bl_entry_body p a::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #AD9F9A;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.bl_entry_body p a::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #E1DCD7;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.bl_entry_body p a:focus::before, .bl_entry_body p a:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.bl_entry_body p code {
  font-family: "Source Code Pro", monospace;
  padding: 3px 5px;
  background: #F6F4F3;
  border: 1px solid #AD9F9A;
  border-radius: 5px;
}

.bl_entry_infoWrap {
  padding: 30px 10px 0;
  position: relative;
}
.bl_entry_infoWrap::before {
  content: "";
  width: 80%;
  height: 1px;
  background: #AD9F9A;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bl_entry_categoryWrap, .bl_entry_tagWrap {
  margin-left: -5px;
  position: relative;
}
.bl_entry_categoryWrap::before, .bl_entry_tagWrap::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.75rem;
  color: #AD9F9A;
}
.bl_entry_categoryWrap a, .bl_entry_tagWrap a {
  margin-left: 5px;
}

.bl_entry_categoryWrap::before {
  content: "";
}

.bl_entry_tagWrap::before {
  content: "";
}

/* related
----------------------------------------- */
.bl_related_wrap {
  width: 90%;
  margin: 40px auto 0;
}
@media screen and (min-width: 769px) {
  .bl_related_wrap {
    width: calc(1200 / 1440 * 100%);
    max-width: 1200px;
  }
}

.bl_related_title {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 25px;
  position: relative;
}
.bl_related_title::before {
  content: "";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: #CABFB9;
  font-size: 1rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: arrowRight 2s linear infinite;
          animation: arrowRight 2s linear infinite;
}

@-webkit-keyframes arrowRight {
  0% {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
  40% {
    -webkit-transform: translateY(-50%) translateX(4px);
            transform: translateY(-50%) translateX(4px);
  }
  60% {
    -webkit-transform: translateY(-50%) translateX(4px);
            transform: translateY(-50%) translateX(4px);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
}

@keyframes arrowRight {
  0% {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
  40% {
    -webkit-transform: translateY(-50%) translateX(4px);
            transform: translateY(-50%) translateX(4px);
  }
  60% {
    -webkit-transform: translateY(-50%) translateX(4px);
            transform: translateY(-50%) translateX(4px);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
}
/* toc
----------------------------------------- */
.bl_toc__main {
  width: 25%;
  min-width: 230px;
  position: fixed;
  top: 60px;
  right: 4%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  z-index: 200;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
@media screen and (min-width: 577px) {
  .bl_toc__main {
    top: 80px;
  }
}
@media screen and (min-width: 1201px) {
  .bl_toc__main {
    display: none;
  }
}
.bl_toc__aside {
  position: sticky;
  top: 100px;
  display: none;
}
@media screen and (min-width: 1201px) {
  .bl_toc__aside {
    display: block;
  }
}
.bl_toc.is_active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.toc_widget {
  list-style: none;
}

.widgettitle {
  display: none;
}

.toc_widget_list {
  margin-top: 20px;
}
.toc_widget_list li:not(:first-of-type) {
  margin-top: 8px;
}
.toc_widget_list li ul {
  margin-left: 0;
}
@media screen and (min-width: 1201px) {
  .toc_widget_list li ul {
    margin-left: 10px;
  }
}
.toc_widget_list li ul li {
  margin: 8px 0 0 10px;
  padding-left: 15px;
  position: relative;
}
.toc_widget_list li ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-left: 2px solid #AD9F9A;
  border-bottom: 2px solid #AD9F9A;
  position: absolute;
  top: 6px;
  left: 0;
}

/* mt
----------------------------------------- */
.hp_mt40 {
  margin-top: 40px;
}

.hp_mt50 {
  margin-top: 50px;
}

.hp_mt30 {
  margin-top: 30px;
}

/* display
----------------------------------------- */
.hp_display__widget {
  display: none;
}
@media screen and (min-width: 769px) {
  .hp_display__widget {
    display: block;
  }
}

/* br
----------------------------------------- */
.hp_br {
  display: none;
}
.hp_br__sp {
  display: block;
}
@media screen and (min-width: 577px) {
  .hp_br__sp {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */