@charset "UTF-8";
@use "./global/" as g;

/* editor-style
----------------------------------------- */
/* リスト */
.is-style-ul_default {
    >li {
        padding-left: 10px;
        position: relative;

        &::before {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: g.$cSober;
            position: absolute;
            top: 8px;
            left: 0;
        }

        ul {
            @extend .is-style-ul_default;
        }

        ol {
            @extend .is-style-ol_default;
        }
    }
}

.is-style-ol_default {
    counter-reset: count 0;

    >li {
        padding-left: 25px;
        position: relative;

        &::before {
            content: "";
            content: counter(count) "";
            counter-increment: count 1;
            background: g.$cSober;
            color: g.$cText_wh;
            font-size: 12px;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            padding-left: 2px;
            text-align: center;
            line-height: 18px;
            font-weight: 600;
            position: absolute;
            top: 2px;
            left: 0;
        }
    }

    ul {
        @extend .is-style-ul_default;
    }

    ol {
        @extend .is-style-ol_default;
    }
}

/* 引用 */
.is-style-blockquote_default {
    width: 100%;
    max-width: 600px;
    margin: 20px auto 0;
    padding: 30px 15px 10px;
    border-radius: 10px;
    font-style: italic;
    background: g.$cBg_main;
    position: relative;

    &::before {
        content: "\f10d";
        display: inline-block;
        font-family: FontAwesome;
        text-align: center;
        color: g.$cText_wh;
        font-size: 18px;
        font-style: italic;
        line-height: 30px;
        width: 40px;
        height: 30px;
        background: g.$cSober;
        font-weight: 900;
        position: absolute;
        top: -8px;
        left: 9px;
    }

    &::after{
        content: "";
        border: none;
        border-bottom: solid 8px g.$cSober;
        border-right: solid 9px transparent;
        position: absolute;
        top: -8px;
        left: 49px;
    }

    > cite {
        display: block;
        margin-top: 5px;
        text-align: right;
        font-size: 10px;
        font-style: italic;
        line-height: 2;

        >a {
            font-size: 10px;
            font-style: italic;
            line-height: 2;
            padding: 0 5px;
            position: relative;
            z-index: 0;

            &::before {
                content: "";
                background: g.$cBg_main;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                transform-origin: right top;
                transform: scale(0, 1);
                transition: transform .3s ease;
            }

            &:focus, &:hover {
                &::before {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }
            }
        }
    }
}

/* ボタン */
.is-style-btn_flex_left {
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;

    >a {
        font-weight: 600;

        &:not(:last-of-type) {
            margin-bottom: 10px;

            @include g.mq(sm) {
                margin-bottom: 0;
                margin-right: 5px;
            }
        }
    }

    @include g.mq(sm) {
        flex-direction: row;
    }
}

.is-style-btn_flex_center {
    @extend .is-style-btn_flex_left;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.is-style-btn_default {
    a {
        display: inline-block;
        padding: 0.714em 1.714em;
        background: g.$cAccent;
        border: 2px solid g.$cAccent;
        border-radius: 10px;
        color: g.$cText_wh;
        cursor: pointer;
        transition: transform .3s ease-in-out;

        &:focus, &:hover {
            transform: translateY(-3px);
        }
    }
}

.is-style-btn_outline {
    @extend .is-style-btn_default;

    a {
        background: g.$cBg_contents;
        color: g.$cText_br;
        transition: transform .3s ease-in-out;

        &:focus, &:hover {
            color: g.$cText_br;
            transform: translateY(-3px);
        }
    }
}

/* アコーディオン */
.style_accordion {
    margin-top: 10px;
}

.style_accordion_titleWrap {
    padding: 15px 50px 15px 10px;
    background: g.$cBg_main;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: background .3s ease-in-out;

    &::before {
        content: "";
        width: 10px;
        height: 2px;
        background: g.$cSober;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    &::after {
        content: "";
        width: 2px;
        height: 10px;
        background: g.$cSober;
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        transition: transform .3s ease;
    }

    >p {
        margin-top: 0;
    }

    &:focus, &:hover {
        background: g.$cMain;
    }

    &.is_active {
        &::after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
}

.style_accordion_contents {
    padding: 0 10px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;

    > p, img {
        margin-top: 10px;
    }

    &.is_open {
        height: auto;
        opacity: 1;
        visibility: visible;
    }
}

/* ふきだし */
.style_balloons {
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;

    &__left {
        flex-direction: row;
    }

    &__right {
        flex-direction: row-reverse;
        margin-left: auto;
    }

    @include g.mq(sm) {
        padding: 0 20px;
    }
}

.style_balloons_img {
    width: 60px;

    >img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid g.$cSober;
        object-fit: cover;
    }

    >figcaption {
        margin-top: 5px;
        font-size: 12px;
        text-align: center;
    }
}

.style_balloons_text {
    width: calc(100% - 85px);
    padding: 15px;
    background: g.$cBg_main;
    border-radius: 10px;
    position: relative;

    &::before {
        content: "";
        border: 15px solid transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__left {
        margin-left: 25px;

        &::before {
            border-right: 15px solid g.$cBg_main;
            left: -30px;
        }
    }

    &__right {
        margin-right: 25px;

        &::before {
            border-left: 15px solid g.$cBg_main;
            right: -30px;
        }
    }
}

/* ステップ */
.style_step {
    margin-top: 10px;

    > li {
        font-size: g.rem(12px);
        font-weight: 600;
        padding: 0 0 20px 20px;
        position: relative;

        &::before {
            content: "";
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: g.$cSober;
            position: absolute;
            top: 3px;
            left: 0;
        }

        &:not(:last-of-type) {
            &::after {
                content: "";
                width: 2px;
                height: calc(100% - 25px);
                background: g.$cMain;
                position: absolute;
                bottom: 2px;
                left: 5.5px;
            }
        }

        >ul>li {
            font-size: g.rem(14px);
        }
    }
}

/* ブロック */
.style_relatedBlock {
    margin-top: 20px;
    width: 100%;
    border: 1px solid g.$cSober;
    position: relative;

    >a {
        width: inherit;

        &:focus, &:hover {
            .style_relatedBlock_contents {
                opacity: .7;
            }

            .style_relatedBlock_thumbnail>img {
                transform: scale(1.1);
            }
        }
    }
}

.style_relatedBlock_labelWrap {
    position: absolute;
    top: -10px;
    left: 20px;
}

.style_relatedBlock_label {
    font-size: g.rem(10px);
    color: g.$cText_wh;
    background: g.$cAccent;
    font-weight: 600;
    border-radius: 5px;
    padding: 3px 8px 3px 25px;
    position: relative;

    &::before {
        content: "\f0a4";
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: g.rem(10px);
        color: g.$cText_wh;
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
    }
}

.style_relatedBlock_card {
    padding: 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.style_relatedBlock_thumbnail {
    flex: 1;
    overflow: hidden;

    >img {
        transition: transform .3s ease-in-out;
    }
}

.style_relatedBlock_contents {
    flex: 2.5;
    margin-left: 10px;
    transition: opacity .3s ease-in-out;

    @include g.mq(sm) {
        margin-left: 20px;
    }
}

.style_relatedBlock_title {
    font-size: g.rem(18px);
    font-weight: 500;
}

.style_relatedBlock_text {
    display: none;
    margin-top: 10px;
    font-size: g.rem(12px);

    @include g.mq(sm) {
        display: block;
    }
}

/* テキストブロック */
.style_textBlock {
    margin-top: 40px;
    padding: 30px 20px 20px;
    width: 100%;
    position: relative;

    &__point {
        border: 2px solid g.$cBlock_yel;
    }

    &__exclamation, &__question {
        border: 2px solid g.$cBlock_bl;
    }

    &__info {
        border: 2px solid g.$cBlock_gr;
    }

    &__caution {
        border: 2px solid g.$cBlock_red;
    }
}

.style_textBlock_labelWrap {
    position: absolute;
    top: -20px;
    left: 20px;
}

.style_textBlock_label {
    width: 40px;
    height: 40px;
    font-weight: 600;
    border-radius: 50%;
    position: relative;

    &::before {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: g.rem(18px);
        color: g.$cText_wh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__point {
        background:  g.$cBlock_yel;

        &::before {
            content: "\f0eb";
        }
    }

    &__exclamation, &__question {
        background:  g.$cBlock_bl;
    }

    &__exclamation {
        &::before {
            content: "\f12a";
        }
    }

    &__question {
        &::before {
            content: "\f128";
        }
    }

    &__info {
        background:  g.$cBlock_gr;

        &::before {
            content: "\f129";
        }
    }

    &__caution {
        background:  g.$cBlock_red;

        &::before {
            content: "\f071";
        }
    }
}
