@charset "UTF-8";
@use "../../../global" as global;

/* portfolio-about
--------------------------------------- */
.profile {
    @include global.mq(md) {
        margin-top: 4.8rem;
    }

    @include global.mq() {
        margin-top: 4rem;
    }
}

.portfolio-bg {
    background: rgba(#fff, 0.5);
    border-radius: 20px;
    padding: 3.2rem 4rem;

    @include global.mq() {
        padding: 3.2rem 2.4rem;
    }
}

.about-skill {
    margin-top: 2.4rem;
    display: flex;
    flex-wrap: wrap;

    li {
        margin: 0 1.2rem 1rem 1.2rem;
    
        i {
            font-size: 3.2rem;
        }    
    }
}

.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #1572B6;
}

.about-skill_icon {
    width: 12rem;

    @include global.mq() {
        width: 7rem;
    }
}

.fa-sass {
    color: #CF649A;
}

.fa-wordpress {
    color: #21759B;
}