@charset "UTF-8";

// フォント
$fontMain: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
$fontEn: 'Raleway', sans-serif;

// カラー
$cMain: #E1DCD7;
$cAccent: #CABFB9;
$cSober: #AD9F9A;

// 背景
$cBg_main: #F6F4F3;
$cBg_contents: #fff;

// テキスト
$cText_bk: #333;
$cText_wh: #fff;
$cText_br: #AD9F9A;

// ブロック
$cBlock_yel: #f7da38;
$cBlock_bl: #1F7A8C;
$cBlock_gr: #519872;
$cBlock_red: #A63D40;
