@charset "UTF-8";
@use "../global" as g;

/* header
----------------------------------------- */
.ly_header {
    width: 100%;
    height: 70px;
    padding: 20px 0;
    background: rgba(g.$cBg_main, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
}