@charset "UTF-8";
@use "../global" as g;

/* main
----------------------------------------- */
.ly_main{
    width: 90%;
    margin: 80px auto 0;
    flex: 1;

    &.is_fixed {
        position: fixed;
    }

    @include g.mq(sm) {
        margin: 120px auto 0;

        &__single {
            margin: 100px auto 0;
        }
    }

    @include g.mq(md) {
        width: calc(1200 / 1440 * 100%);
        max-width: 1200px;
    }
}
