@charset "UTF-8";
@use "../global/" as global;

.error-content {
    text-align: center;
}

.error-content_title {
    font-size: 30rem;
    color: rgba(global.$color-main, 0.3);
    font-weight: 600;
    position: relative;

    span {
        color: global.$color-main;
        font-size: 5rem;
        font-family: global.$font-family-awesome_en;
        font-weight: 600;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);

        @include global.mq() {
            font-size: 2rem;
        }
    }

    @include global.mq() {
        font-size: 15rem;
    }
}