@charset "UTF-8";
@use "../global" as global;

/* tag
-------------------------------------------- */
.tag {
    display: inline-block;
    background: rgba(global.$color-text, 0.3);
    border-radius: 999px;
    padding: 0.1rem 1.6rem;
    transition: all ease 0.5s;
    color: #fff;

    &:hover {
        background: rgba(global.$color-text, 0.8);
    }

    a {
        color: #fff;
    }
}

/* btn
---------------------------------------------- */
.btn {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    
    a {
        color: #fff;
    }

    &:hover {
        transition: all ease 0.5s;
    }
}