@charset "UTF-8";
@use "../../global" as g;

/* error
----------------------------------------- */
.bl_error_wrap {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.bl_error_title {
    color: g.$cText_br;
    padding-top: 140px;
    font-size: g.rem(30px);
    font-weight: 600;
    position: relative;
    z-index: 0;

    span {
        font-size: g.rem(140px);
        font-weight: 600;
        color: g.$cMain;
        opacity: .8;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}

.bl_error_text {
    margin-top: 50px;
}

.bl_error_link {
    margin-top: 80px;
}