@charset "UTF-8";
@use "../../../global" as global;

/* about-profile
---------------------------------------------- */
.about-main_wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.about-title {
    background: url(../img/about-bg.png) no-repeat center center / contain;
    width: 75.5597%;
    padding-top: 17.6093%;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    margin: 5.6rem auto 0;
    position: relative;

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 100%;
    }

    @include global.mq(md) {
        width: 95%;
    }

    @include global.mq() {
        background: url(../img/about-bg_sp.png) no-repeat center center / contain;
        width: 100%;
        padding-top: 60%;
    }
}

.profile {
    display: flex;
    align-items: center;

    figure {
        width: 23.6007%;
        height: 23.6007%;

        img {
            border-radius: 999px;
        }

        @include global.mq(md) {
            width: 50%;
            margin: 0 auto;
        }

        @include global.mq() {
            width: 70%;
            margin: 0 auto;
        }
    }

    @include global.mq(md) {
        display: block;
    }

    @include global.mq() {
        display: block;
    }
}

.profile-content {
    width: 66.0447%;
    margin-left: auto;

    @include global.mq(md) {
        width: 100%;
        margin-top: 2.4rem
    }

    @include global.mq() {
        width: 100%;
        margin-top: 1.6rem
    }
}

.profile-title {
    display: flex;

    @include global.mq() {
        display: block;
    }
}

.profile-name {
    display: flex;
}

.name {
    font-size: 2.589rem;
    padding-right: 3.4rem;
    font-family: global.$font-family-awesome_jp;

    @include global.mq() {
        font-size: 2rem;
        padding-right: 2.4rem;    
    }
}

.profile-name_en {
    font-family: global.$font-family-awesome_en;
    position: relative;

    &::after {
        content: '';
        width: 0.1rem;
        height: 50%;
        background: global.$color-text;
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);

        @include global.mq() {
            height: 35%;
            top: 45%;
        }
    }
}   


.profile-link {
    display: flex;

    p {
        &:not(:first-of-type) {
            margin-left: 1.6rem;
        }
    }

    a {
        font-size: 2.4rem;
        color: global.$color-main;

        &:hover {
            opacity: 0.5;
        }
    }
}

.profile-text {
    margin-top: 2.4rem;
}