@charset "utf-8";

$font-family-awesome_jp: 'YuGothic','Yu Gothic','Hiragino Sans','ヒラギノ角ゴシック','Helvetica Neue','Helvetica','メイリオ','Meiryo','Arial','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
$font-family-awesome_en: 'Julius Sans One', sans-serif;

$max-width: 1280px;

// インナー幅
$layout-width-inner: 1072px;

// フォント
$size-main: 1.6rem;

// ベース
$color-main: #CABFB9;
$color-accent: rgba(202, 191, 185, 0.3);
$color-sober: rgba(112, 112, 112, 0.5);

// 背景
$color-bg: #F6F4F3;

// テキスト
$color-text: #090909;