@charset "UTF-8";
@use "../../../global" as global;

/* privacy-policy
----------------------------------------------- */
.policy-title {
    display: flex;

    @include global.mq() {
        display: block;
    }
}

.policy-title_en {
    font-size: 4.189rem;
    font-family: global.$font-family-awesome_en;
    padding-right: 3.2rem;
    text-align: left;

    @include global.mq() {
        font-size: 3.2rem;
        margin-right: 0;
    }

    &._modal {
        @include global.mq(md) {
           font-size: 3.8rem; 
           padding-right: 2.4rem;
        }

        @include global.mq() {
            font-size: 2.4rem;
            font-weight: 600;
        }
    }
}

.policy-title_ruby {
    padding-left: 3.2rem;
    line-height: 5;
    font-size: 1.6rem;
    position: relative;

    &::after {
        content: '';
        width: 0.08rem;
        height: 2.4rem;
        background: global.$color-text;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @include global.mq() {
            transform: translateY(-50%) rotate(90deg);
        }
    }

    @include global.mq() {
        font-size: 1.2rem;
        text-align: left;
        padding-left: 2.4rem;
        line-height: 3;
        left: 5%;
    }

    &._modal {
        padding-left: 2.4rem;

        @include global.mq() {
                display: none;
        }

    }
}

.privacy-lead {
    margin-top: 1.6rem;

    @include global.mq() {
        margin-top: 2.4rem;
    }
}

.privacy-wrapper {
    margin-top: 5.6rem;
}

.privacy-item {
    &:not(:first-child) {
        margin-top: 3.2rem;
    }

    dt {
        h2 {
            font-size: 1.8rem;
            line-height: 2.5;
            font-weight: 600;       
        }
    }
}

.privacy-item_list {
    li {
        list-style: disc;
        margin-left: 2rem;
    }
}

.privacy-link {
    padding-bottom: 0.1rem;
    border-bottom: 1px solid global.$color-text;
    transition: all ease 0.5s;

    &:hover {
        opacity: 0.5;
        background: rgba(global.$color-text, 0.3);
    }
}