@charset "UTF-8";
@use "../../../global" as global;

/* works-content
-------------------------------------- */
.works-content {
    margin-top: 4.8rem;

    @include global.mq() {
        margin-top: 3.2rem;
    }
}

.works-content_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include global.mq() {
        display: block;
    }
}

.works-thumbnail_single {
    width: 48.7873%;
    height: 65rem;
    overflow-y: scroll;

    img {
        width: 100%;
    }

    @include global.mq() {
        width: 100%;
        height: 48rem;
    }
}

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    background: rgba(global.$color-main, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: global.$color-main;
    border-radius: 10px;
}

.works-info {
    width: 46.1753%;
    background: #fff;
    border-radius: 20px;
    padding: 4rem 3.2rem;

    @include global.mq() {
        width: 100%;
        margin-top: 4rem;
    }
}

.works-info_title {
    display: flex;
    align-items: center;

    h1 {
        font-size: 2.589rem;
        font-weight: 600;

        @include global.mq() {
            font-size: 1.8rem;
        }
    }

    a {
        display: inline-block;
        margin-left: 2.4rem;
        transition: all ease 0.5s;

        &:hover {
            opacity: 0.5;
        }

        i {
            font-size: 2.4rem;
            color: rgba(global.$color-text, 0.8);

            @include global.mq(md) {
                font-size: 1.6rem;
            }

            @include global.mq() {
                font-size: 1.6rem;
            }
        }  
        
        @include global.mq(md) {
            margin-left: 0.8rem;
        }

        @include global.mq() {
            margin-left: 0.8rem;
        }
    }

    @include global.mq(md) {
        align-items: flex-end; 
    }

}

.works-info_date {
    display: flex;
    justify-content: space-between;
    margin-top: 2.4rem;

    @include global.mq(md) {
        display: block;
    }

    @include global.mq() {
        display: block;
    }
}

.id-date, .pass-date {
    display: flex;
    width: 48%;

    p {
        display: flex;

        span {
            margin-right: 1.6rem;
        }

        input {
            margin-left: 1.6rem;
            width: 6rem;
            appearance: none;
            border: none;

            @include global.mq(md) {
                width: 10rem;
            }

            @include global.mq() {
                width: 100%;
            }
        }
    }

    button {
        appearance: none;
        border: none;
        background: rgba(global.$color-main, 0.5);
        border-radius: 999px;
        margin-left: 0.8rem;
        transition: all ease 0.5s;
        
        &:hover {
            opacity: 0.5;
        }

        i {
            color: rgba(global.$color-text, 0.8);
        }
    }

    @include global.mq(md) {
        width: 100%;
        justify-content: space-between;
    }

    @include global.mq() {
        width: 100%;
        justify-content: space-between;
    }
}

.pass-date {
    @include global.mq(md) {
        margin-top: 0.4rem;
    }

    @include global.mq() {
        margin-top: 0.4rem;
    }
}

.date-title {
    @include global.mq(md) {
        width: 30%;
    }

    @include global.mq() {
        width: 30%;
    }
}

.works-info_area {
    margin-top: 2.4rem;

    @include global.mq(md) {
        font-size: 1.2rem;
    }

    @include global.mq() {
        font-size: 1.2rem;
    }

    li {
        padding: 0 0.8rem;
    }
}

.works-info_overview {
    margin-top: 2.4rem;
    padding-top: 5.6rem;
    position: relative;

    &::before {
        content: '';
        width: 0.08rem;
        height: 3.2rem;
        background: global.$color-text;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.works-content_item {
    width: 97%;
    margin: 8rem 0 0 auto;
    background: rgba(#fff, 0.5);
    border-radius: 20px;
    padding: 3.2rem 2.4rem;
    position: relative;

    dt {
        display: inline-block;
        background: global.$color-main;
        border-radius: 10px;
        padding: 0.8rem 2.4rem;
        color: #fff;
        font-weight: 600;
        font-size: 1.8rem;
        position: absolute;
        top: -2rem;
        left: -3%;
    }

    dd {
        margin-top: 2.4rem;
    }
}

.approach-list {
    li {
        margin-top: 1.6rem;
    }
}

.approach-list_title {
    display: inline-block;
    font-weight: 600;
    padding-left: 2.4rem;
    position: relative;

    &::before {
        content: '';
        width: 0.8rem;
        height: 0.8rem;
        border-top: 2px solid global.$color-text;
        border-right: 2px solid global.$color-text;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(45deg);
    }
}

.approach-list_text {
    margin-top: 1.6rem;
}

.try-items {
    display: flex;
    flex-wrap: wrap;

    li {
        padding: 0 0.8rem;
    }

    @include global.mq() {
        display: block;
    }
}

.process-time {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    
    span {
        padding-right: 1.6rem;
    }
}

.process-items {
    margin: 2.4rem 0 -0.8rem 0;
    display: flex;
    flex-wrap: wrap;

    @include global.mq() {
        display: block;
    }
}

.process-item {
    margin-bottom: 0.8rem;
    width: calc(100% / 2 - 2.4rem * 1 / 2);

    @include global.mq(lg) {
        &:not(:nth-child(2n + 1)) {
            margin-left: 2.4rem;
        }    
    }

    @include global.mq(md) {
        &:not(:nth-child(2n + 1)) {
            margin-left: 2.4rem;
        }

    }

    @include global.mq() {
        width: 100%;

        &:not(:first-child) {
            margin-top: 1.6rem;
        }
    }
}

.process-list-title {
    font-weight: 600;
}

.process-list {
    display: flex;
    flex-wrap: wrap;

    li {
        padding: 0 0.8rem;
    }
}