@charset "UTF-8";
@use "../global" as global;

/* breadcrumb
---------------------------------------------- */
.breadcrumb-item {

    span {
        display: inline-block;
        position: relative;
        padding-right: 0.5rem;

        &:not(:first-child) {
            padding-left: 2rem;

            &::after {
                content: '';
                width: 0.4rem;
                height: 0.4rem;
                border-top: 1px solid global.$color-text;
                border-right: 1px solid global.$color-text;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%) rotate(45deg);

                @include global.mq() {
                    width: 0.2rem;
                    height: 0.2rem;    
                    top: 58%;
                }
            }
            
            @include global.mq() {
                padding-left: 1.5rem;
                font-size: 0.8rem;
                line-height: 1;
            }
        }

        a {
            &:hover {
                opacity: 0.5;
            }

            i {
                color: rgba(global.$color-text, 0.7);
                padding-right: 1rem;
            }

            @include global.mq() {
                font-size: 0.8rem;
                line-height: 1;
            }
        }

    }

    &._category {
        margin-top: 4rem;
    }

    &._search {
        margin-top: 8rem;

        @include global.mq() {
            margin-top: 4rem;
        }
    }
}