@charset "UTF-8";
@use "../global" as global;

/* category-nav
------------------------------------- */
.category-wrapper {
    margin-top: 8rem;
    position: relative;

    @include global.mq() {
        display: none;
    }
}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86.847%;

    @include global.mq() {
        width: 100%;
    }

    li {
        display: block;
        width: 16.3265%;
        text-align: center;

        a {
            font-size: 1.942rem;
            font-family: global.$font-family-awesome_en;
            display: inline-block;
            width: 100%;

            .is_ruby {
                display: block;
                font-size: 1.2rem;
                font-family: global.$font-family-awesome_jp;
                padding-bottom: 0.1rem;
            }
        }

        img {
            opacity: 0;
            transition: all ease 0.3s;   
        }

        &:hover {
            img {
                opacity: 1;
            }
        }

        &._active {
            img {
                opacity: 1;
            }
        } 
    }    

}

/* search
--------------------------------------------- */
.search-content {
    summary {
        list-style: none;
        cursor: pointer;

        &::-webkit-details-marker {
            display: none;
        }

        &:hover {
            opacity: 0.3;
        }
    }
}

.search-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 5%;
    right: 0;

    span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 56%;
        height: 56%;
        border-radius: 50%;
        border: 0.1rem solid global.$color-text;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -10%;
            right: -35%;
            width: 56%;
            height: 0.09rem;
            background: global.$color-text;
            transform: rotate(45deg);
        }

        i {
            display: none;
        }
    }
}

.search-wrapper {
    width: 97%;
    position: relative;
    top: -10rem;
    background: global.$color-bg;
}

.searchform {
    width: inherit;
}

.search-date {
    width: 100%;
    height: 8rem;
    background: global.$color-bg;
    display: flex;
    justify-content: center;

    @include global.mq() {
        height: inherit;
        margin-bottom: 2rem;
        position: relative;  
    }
}

.search-window {
    appearance: none;
    width: 50%;
    height: 4rem;
    background: rgba(#fff, 0.7);
    border-radius: 999px;
    margin-top: 1rem;
    position: relative;
    border: none;
    padding: 0 1.6rem;   
    
    &._archive {
        @include global.mq(md) {
            width: 80%;
        }

        @include global.mq() {
            width: 100%;
        }
    }

    @include global.mq(md) {
        width: 72%;
    }

    @include global.mq() {
        width: 100%;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    position: absolute;
    left: 0;
}

.search-submit {
    position: absolute;
    top: 10%;
    right: 29.5%;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 0.1rem solid global.$color-text;
    background: transparent;

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 3%;
        right: -0.9rem;
        width: 1rem;
        height: 0.09rem;
        background: global.$color-text;
        transform: rotate(32deg);
    }
    
    @include global.mq(md) {
        top: 8%;
        right: 20%;
    }

    &:hover {
        cursor: pointer;
    }

    &._archive {
        top: 23%;
    }

    @include global.mq() {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 43%;
        right: 3%;
        border: none;
        padding: 0;
        background: transparent;
    
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1rem;
            height: 1rem;
            border-radius: 999px;
            border: 1px solid global.$color-text;
        }
    
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 60%;
            left: 45%;
            width: 0.8rem;
            height: 0.08rem;
            background: global.$color-text;
            transform: rotate(45deg);
        }        
    }
}

.search-tag {
    width: 70%;
    margin: 0 auto;

    @include global.mq(md) {
        width: 72%;
    }

    @include global.mq() {
        width: 100%;
    }
}

.search-tag {
    @include global.mq() {
        display: none;
    }
}

.search-tag_item {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
        margin: 0 0.4rem 2rem 0.4rem;
    }
}


.search-content[open] {
    .search-icon {
        span {
            display: block;
            border: none;

            i {
                display: block;
                font-size: 2.4rem;
            }

            &::after {
                display: none;
            }
        }
    
    }

    .search-wrapper {
        animation: fadein 0.5s ease;
    }

    @keyframes fadein {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}