@charset "UTF-8";
@use "../../global" as g;

/* btn
----------------------------------------- */
.el_btn {
    display: inline-block;
    padding: 0.714em 1.714em;
    background: g.$cAccent;
    border: 2px solid g.$cAccent;
    border-radius: 10px;
    color: g.$cText_wh;
    cursor: pointer;

    &__sns {
        padding: .8em;

        i {
            font-size: 20px;
        }
    }

    &__icon {
        i {
            font-size: g.rem(18px);
            padding-right: 10px;
        }
    }

    &__profileLink {
        text-transform: uppercase;
        font-family: g.$fontEn;
        letter-spacing: .18em;
    }

    &__submit {
        width: 100%;
        max-width: 350px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: .5em;
        transition: all .3s ease;

        &.is_disabled {
            background: g.$cBg_contents;
            color: g.$cText_br;
            cursor: auto;
        }
    }
}
