@charset "UTF-8";
@use "../../global" as g;

/* btn
----------------------------------------- */
.el_btn {
    display: inline-block;
    padding: 0.714em 1.714em;
    background: g.$cAccent;
    border: 2px solid g.$cAccent;
    border-radius: 10px;
}

.el_btn__sns {
    padding: .8em;
}