@charset "UTF-8";
@use "../../global" as g;

/* btn
----------------------------------------- */
.el_btn {
    display: inline-block;
    padding: 0.714em 1.714em;
    background: g.$cAccent;
    border: 2px solid g.$cAccent;
    border-radius: 10px;

    &__sns {
        padding: .8em;
    }

    &__error {
        color: g.$cText_wh;

        i {
            font-size: g.rem(18px);
            padding-right: 10px;
        }
    }
}
