@charset "UTF-8";
@use "../../global" as g;

/* tag
----------------------------------------- */
.el_tag {
    display: inline-block;
    background: g.$cAccent;
    padding: 0.333em 1em;
    border-radius: 50px;
    font-size: g.rem(10px);
    color: g.$cText_wh;

    &__link {
        transition: transform .3s ease-in-out;

        &:focus, &:hover {
            transform: translateY(-3px);
        }
    }
}

.el_tag__entry {
    display: inline-block;
    font-size: g.rem(10px);
    transition: opacity .3s ease-in-out;

    &:focus, &:hover {
        opacity: .5;
    }
}