@charset "UTF-8";
@use "../../global" as g;

/* title
----------------------------------------- */
.el_title__widget {
    text-transform: uppercase;
    font-family: g.$fontEn;
    letter-spacing: .18em;
    color: g.$cText_br;
    font-size: g.rem(20px);
    text-align: center;
}
