@charset "UTF-8";
@use "../../global" as g;

/* article
----------------------------------------- */
.bl_article_wrap {
    width: 100%;

    @include g.mq(xl) {
        width: calc(100% - 302px);
    }
}

.bl_article {
    padding: 40px 5%;
}

.bl_articleCard {
    a {
        display: block;
        word-wrap: break-word;
        transition: transform .3s ease;

        &:focus, &:hover {
            transform: translateY(-5px);

            .bl_articleCard_thumbnail>img {
                transform: scale(1.05)
            }
        }
    }
}

.bl_articleCard_thumbnail {
    overflow: hidden;

    >img {
        aspect-ratio: 1.773 / 1;
        object-fit: cover;
        transition: transform .3s ease-in-out;
    }
}

.bl_articleCard_contents {
    padding: 20px 8px;

    &__related {
        padding: 10px 8px;
    }
}

.bl_articleCard_tagWrap {
    margin: -5px 0 0 -5px;
}

.bl_articleCard_tag {
    margin: 5px 0 0 5px;
}

.bl_articleCard_title {
    font-size: g.rem(16px);
    margin-top: 10px;

    &__related {
        @include g.mq(md) {
            font-size: g.rem(16px);
        }
    }
}

.bl_articleCard_meta {
    margin-top: 10px;
    text-align: right;
}

.bl_articleCard_time {
    &__related {
        font-size: g.rem(10px);

        @include g.mq(md) {
            font-size: g.rem(12px);
        }
    }
}