@charset "UTF-8";
@use "../../global" as g;

/* aside
----------------------------------------- */
.bl_aside_wrap {
    width: 100%;

    @include g.mq(xl) {
        width: 302px;
        margin-left: 32px;
    }
}