@charset "UTF-8";
@use "../../global" as g;

/* category
----------------------------------------- */
.bl_category_title {
    text-transform: uppercase;
    font-family: g.$fontEn;
    letter-spacing: .18em;
    color: g.$cText_br;
    font-size: g.rem(20px);
    text-align: center;
}

.bl_category_list {
    margin-top: 20px;

    > * + * {
        margin-top: 10px;
    }

    &__child {
        margin-left: 30px;
    }
}

.bl_category_item__child {
    padding-left: 28px;
    line-height: 2;
    position: relative;

    &::before {
        content: "";
        width: 20px;
        height: 2px;
        background: g.$cSober;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &::after {
        content: "";
        width: 2px;
        height: 100%;
        background: g.$cSober;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:first-of-type {
        margin-top: 5px;
    }

    &:last-of-type {
        &::after {
            height: 50%;
        }
    }
}