@charset "UTF-8";
@use "../../global" as g;

/* common
----------------------------------------- */
.bl_common_blockWrap {
    width: 100%;
    padding: 40px 24px 45px;
    background: g.$cBg_contents;
    border: 5px solid g.$cMain;
    border-radius: 20px;
}