@charset "UTF-8";
@use "../../global" as g;

/* flex
----------------------------------------- */
.bl_2colUnit {
    &__main {
        @include g.mq(xl) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__archive {
        @extend .bl_2colUnit__main;
        margin-top: 35px;
    }

    &__card {
        .bl_2colUnit_item__card {
            margin-bottom: 20px;
        }

        @include g.mq(sm) {
            display: flex;
            flex-wrap: wrap;

            .bl_2colUnit_item__card {
                width: calc(100% / 2 - 40px * 1 / 2);

                &:not(:nth-of-type(2n + 1)) {
                    margin-left: 40px;
                }
            }
        }
    }

    &__widget {
        @include g.mq(md) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        @include g.mq(xl) {
            display: block;
        }
    }

    &__profile {
        @include g.mq(sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .bl_2colUnit_rightItem__profile {
                width: calc(100% - 156px);
                margin-left: 20px;
            }
        }

        @include g.mq(xl) {
            display: block;

            .bl_2colUnit_rightItem__profile {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.bl_3colUnit {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;

    .bl_3colUnit_item__card {
        width: calc(100% / 2 - 10px * 1 / 2);
        margin-bottom: 10px;

        &:not(:nth-of-type(2n + 1)) {
            margin-left: 10px;
        }

        @include g.mq(md) {
            width: calc(100% / 3 - 10px * 2 / 3);

            &:not(:nth-of-type(2n + 1)) {
                margin-left: 0;
            }

            &:not(:nth-of-type(3n + 1)) {
                margin-left: 10px;
            }

        }
    }
}
