@charset "UTF-8";
@use "../../global" as g;

/* header
-------------------------------- */
.bl_header_inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.bl_header_logo {
    width: 115px;
}

.bl_header_navBtn {
    width: 50px;
    height: 50px;
    padding: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    right: 0;
    cursor: pointer;

    span {
        width: 4px;
        height: 4px;
        background: g.$cSober;
        border-radius: 1px;
        transition: opacity .3s ease;

        &:not(:nth-of-type(3n + 1)) {
            margin-left: 8px;
        }
    }

    &.is_open {
        span {
            &:not(:nth-of-type(n + 4):nth-of-type(-n + 6)) {
                opacity: 0;
            }
        }
    }

    @include g.mq(md) {
        display: none;
    }
}

.bl_header_openNav {
    width: 100%;
    height: calc(100% - 70px);
    padding-bottom: 80px;
    background: g.$cBg_main;
    position: fixed;
    top: 70px;
    right: -100%;
    z-index: 100;
    transition: right .5s ease-in-out;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &.is_open {
        right: 0;
    }

    @include g.mq(md) {
        display: none;
    }
}

.bl_header_navInner {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}