@charset "UTF-8";
@use "../../global" as g;

/* header
-------------------------------- */
.bl_header_inner {
    width: 90%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.bl_header_logo {
    width: 115px;
}

.bl_header_navBtn {
    width: 50px;
    height: 50px;
    padding: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    right: 0;

    span {
        width: 4px;
        height: 4px;
        background: g.$cSober;
        border-radius: 1px;

        &:not(:nth-of-type(3n + 1)) {
            margin-left: 8px;
        }
    }
}