@charset "UTF-8";
@use "../global" as global;

/* header
-------------------------------- */
.header-bg {
    &._line {
        position: absolute;
        top: -6rem;
        left: 0;
        z-index: -1;
    
        @include global.mq() {
            top: -1rem;
        }    
    }

    &._circle {
        position: absolute;
        top: -23rem;
        right: 0;
        z-index: -2;
    
        @include global.mq() {
            top: -10%;
        }    
    }
}

.header-logo {
    text-align: center;
    display: block;
    width: 60%;
    margin: 8.8rem auto 0;

    @include global.mq() {
        margin: 3rem auto 0;
        width: 75%;
    }

    &._portfolio {
        margin: 8.8rem auto 0 0;

        @include global.mq() {
            margin: 3.2rem auto 0 0;
        }
    }

    &._portfolio-page {
        margin: 8.8rem auto 0 auto;

        @include global.mq() {
            margin: 3.2rem auto 0 auto;
        }
    }
}

.header-message {
    margin-top: 5.6rem;

    @include global.mq() {
        margin-top: 4rem;
    }
}

.header-message_title {
    text-align: right;
    font-size: 2.589rem;
    font-weight: 500;

    @include global.mq() {
        font-size: 1.6rem;
    }
}

.header-message_text {
    display: block;
    width: 56rem;
    margin: 3.2rem 0 0 auto;
    padding-right: 3.2rem;

    @include global.mq() {
        width: 75%;
        font-size: 1.2rem;
        margin-top: 2.4rem;
        padding-right: 0;
    }
}