@charset "UTF-8";
@use "../../global" as g;

/* pagination
----------------------------------------- */
.bl_pagination {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    li {
        width: 40px;
        height: 40px;
        background: g.$cBg_contents;
        border: 2px solid g.$cSober;
        border-radius: 50%;
        text-align: center;
        position: relative;

        &:not(:first-of-type) {
            margin-left: 8px;
        }

        a {
            width: 40px;
            height: 40px;
            font-family: g.$fontEn;
            font-size: g.rem(20px);
            color: g.$cText_br;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;

            &::after {
                content: "";
                width: 40px;
                height: 40px;
                background: g.$cSober;
                border-radius: 50%;
                border: 2px solid #ad9f9a;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0, 0);
                z-index: -1;
                transition: transform .3s ease;
            }

            &:focus, &:hover {
                color: g.$cText_wh;

                &::after {
                    transform: translate(-50%, -50%) scale(1, 1);
                }
            }
        }

        span {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: g.$cSober;
            color: g.$cText_wh;
            font-family: g.$fontEn;
            font-size: g.rem(20px);
            border: 2px solid #ad9f9a;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .prev {
            i {
                padding-top: 10px;
            }
        }

        .next {
            i {
                padding: 10px 0 0 6px;
            }
        }

        .dots {
            font-size: 0;
            position: relative;

            &::before {
                content: '\f141';
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-size: g.rem(20px);
                font-weight: 900;
                line-height: 36px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}